<div class="navbar-collapse bg-dark">
  <nav style="text-align:center; height: 40px; margin-left: 10px;" class="nav navbar-dark ">
    <a class="navbar-brand" [routerLink]="['']">Flip-flop</a>
    <a class="Mynavbar" [routerLink]="['/about']">About</a>
    <a class="Mynavbar" [routerLink]="['/contact']">Contact</a>
    <a class="Mynavbar" *ngIf="user !== notConnected" [routerLink]="['/newFlights']">Add Flight</a>
    <a class="Mynavbar" *ngIf="user !== notConnected" [routerLink]="['/flights']">Get Flight</a>
    <a class="Mynavbar" *ngIf="user === Admin" [routerLink]="['/flightHistory']">Ticket History</a>
    <a class="Mynavbar" *ngIf="user === Admin" [routerLink]="['/UsersTable']">User table</a>
    <a class="Mynavbar" *ngIf="user === Admin" [routerLink]="['/complains']">all complains</a>
    <a class="Mynavbar" *ngIf="user !== notConnected" [routerLink]="['/AddComplain']">complain</a>
    <a class="Mynavbar" *ngIf="user === notConnected" [routerLink]="['/register']">register</a>
    <a class="Mynavbar" *ngIf="user === notConnected" [routerLink]="['/login']">logIn</a>
    <button class="Mynavbar" *ngIf="user !== notConnected" (click)="logOut()">log out</button>
  </nav>
</div>
