<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button mat-button>About</button>
  <button mat-button>Contact</button>
  <button mat-button>Add Flight</button>
  <button mat-button>Get Flight</button>
  <button mat-button>Ticket History</button>
  <button mat-button>User table</button>
  <button mat-button>all complains</button>
  <button mat-button>complain</button>
  <app-home></app-home>
  <app-about></app-about>
<router-outlet></router-outlet>
