<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar-collapse bg-dark">
  <nav style="text-align:center; height: 40px; margin-left: 10px;" class="nav navbar-dark ">
    <a class="navbar-brand" [routerLink]="['']">Flip-flop</a>
    <a class="Mynavbar" [routerLink]="['/about']">About</a>
    <a class="Mynavbar" [routerLink]="['/contact']">Contact</a>
    <a class="Mynavbar" [routerLink]="['/newFlights']">Add Flight</a>
    <a class="Mynavbar" [routerLink]="['/flights']">Get Flight</a>
    <a class="Mynavbar" [routerLink]="['/flightHistory']">Ticket History</a>
    <a class="Mynavbar" [routerLink]="['/UsersTable']">User table</a>
    <a class="Mynavbar" [routerLink]="['/complains']">all complains</a>
    <a class="Mynavbar" [routerLink]="['/AddComplain']">complain</a>
    <a class="Mynavbar" [routerLink]="['/register']">register</a>
    <a class="Mynavbar" [routerLink]="['/login']">logIn</a>
  </nav>
  </div>  
  <router-outlet></router-outlet>
  <hr>
<p>© 2019 - flip_flop</p>